*{
	margin: 0px;
	padding: 0px;
	font-family: 'Armata', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
}
header{
	background: url(images/bg-header-desktop.png) ;
	background-size: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 8% ;
	padding-bottom: 4%;
}

#logo{
	width: 8%;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.container{
	width: 40%;
	margin: auto;
}
h1, h2, h3{
	line-height: 300%;
}
h1{
	font-size: 250%;
}
h2{
	font-size: 200%;
}
p{
	color: grey;
	line-height: 200%;
}

.flex-line{
	display: flex;
	margin: 2vh;
}

button{
	padding: 15px 30px;
	border-radius: 50px;
	margin: 20px 10px;
	border: none;
	color: white;

}

#ios-btn{
	background-color: hsl(171, 66%, 44%);
	box-shadow: hsl(171, 66%, 36%) 0px 3px 0px 0px; ;
}
#mac-btn{
	background-color: hsl(233, 100%, 69%);
	box-shadow: hsl(233, 90%, 63%) 0px 3px 0px 0px;
}

.snippets{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-top: 10vh;
}

.features{
	width: 100%;
	display: flex;
	padding-top: 5%;
}
#mac{
	width: 50vw;
}
.text-features{
	margin-left: 8%;
	width: 25%;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}
.text-features div{
	padding-top: 10%;
}


.mobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 20vh 0vw;
}
.mobile img{
	margin-top: 10vh;
	width: 60vw;
}

.supercharge{
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.items{
	display: flex;
	margin: 10vh 0vw;
}

.items div{
	max-width: 400px;
	margin: 0vh 1vw;
}
.items img{
	width: 33px;
}

.gafam{
	margin: auto;
}
.gafam img{
	margin: 5vh 3vw;
}

.info-bottom{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20vh 0px;
}

footer{
	background-color: lightgrey;
	height: 15vh;
	display: flex;
	align-items: center;
}

#bottom-logo{
	height: 7vh;
}

.footer-container{
	width: 80%;
	margin: auto;
	display: flex;

}

.links{
	display: flex;
	justify-content:space-around ;
}

.links-duo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 8vw;
}

.links-solo{
	display: flex;
	padding-left: 8vw;
}

.social-icons{
	display: flex;
	margin: auto 0px auto auto;
	flex-direction: row-reverse;
}

.social-icons svg{
	height: auto;
	margin: 0vh 10px;
}

.fill:hover{
	fill: hsl(171, 66%, 44%)
}


a:link {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

a:visited {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

a:hover {
  text-decoration: none;
  color: hsl(171, 66%, 44%);
}



